<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkrUztleoZmdaTm3CxGQJ3YOW0nigkr-4</string>
	<key>GCM_SENDER_ID</key>
	<string>422604026646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>todo.taskbait</string>
	<key>PROJECT_ID</key>
	<string>taskbait</string>
	<key>STORAGE_BUCKET</key>
	<string>taskbait.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422604026646:ios:f5311aeb45852c4cc49637</string>
</dict>
</plist>